
<link rel="stylesheet" href="css/magister.css"> 
	<style >
.container {
  width: 70%;
  background: #eee;
  margin: 2px auto;
  position: relative;
  text-align:center;
}

.block {
  background: #DCDCDC;
  height: 100px;
  width: 100px;
  display:inline-block;
  margin: 10px;
}

</style>

<div class="theme-invert container">
    <section class="section" id="head">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
                    <h1 class="title"><strong>Art or Photography Show</strong></h1>
                    <h2 class="subtitle"><strong>By public donated money</strong></h2>

                    <h3 class="tagline">
                        Potentially, the best kickstarter-like website for Artists and Photographers.<br>
                    </h3>

                    <p><a href="#" class="btn btn-default btn-lg">Get Started</a></p>

                </div>
            </div>

        </div>
    </section>
</div>